.form-container {
  display: flex;
  flex-direction: column;
}

input {
  max-width: 558px;
  height: 52px;
  justify-content: center;

  font-family: var(--font-family);
  font-size: 18px;
  color: var(--color-bg);

  background-color: #333231;
  border-radius: 15px;
  border-width: 0px;
  margin: 0rem 0rem 1rem 0rem;
  padding: 0rem 1rem 0.3rem 1rem;
}

textarea {
  max-width: 558px;
  height: 191px;
  width: 100%;

  font-family: var(--font-family);
  font-size: 18px;
  color: var(--color-bg);

  background: #333231;
  border-radius: 15px;
  border-width: 0px;
  padding: 1rem;
}
