.card {
  display: flex;
  max-width: 700px;
  max-height: 700px;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 2rem;
  background: var(--color-body);
  border-radius: 20px;
  aspect-ratio: 1/1;
}

.photo-container {
  display: flex;
  height: 85%;
  width: 100%;
  justify-content: center;
  padding: 2rem 0rem;
}

.card img {
  height: 100%;
}

.text {
  width: 100%;
}

.subtitle {
  font-family: var(--font-family);
  font-size: 24px;
  line-height: 146.47%;
  align-items: center;

  color: var(--color-subtext);
}

.title {
  font-family: var(--font-title);
  font-size: 48px;
  line-height: 146.47%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;

  color: var(--color-bg);
}

@media screen and (max-width: 760px) {
  .card img {
    height: 62vw;
  }
}
